/* HEADER 
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    padding: 0.5rem;
}

header img{
    width: 14%;
    height: auto;
}

header #menu{
    display: flex;

}

header #menu li{
    padding: 2rem 1rem;
}

header #menu li:hover{
    text-decoration: underline;
}
*/

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    padding: 0.5rem;
    position: relative; /* Adiciona um contexto de empilhamento ao header */
}

header img {
    width: 14%;
    height: auto;
}

header #menu {
    display: flex;
}

header #menu li {
    padding: 2rem 1rem;
    position: relative; /* Necessário para posicionar o submenu */
}

header #menu li a {
    color: black;
 }

header #menu li:hover {
    text-decoration: underline;
}

/* Submenu de idiomas escondido inicialmente */
#language-options {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2rem;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10; /* Garante que o submenu fique acima dos outros elementos */
}

#language-options li {
    padding: 10px;
    text-align: center;
    color: black;
}

#language-options li a{
    color: black;
}

#language-options li:hover {
    background-color: #f0f0f0;
    border-radius: 2rem;
}

/* Mostrar as opções de idiomas ao passar o mouse */
#language:hover #language-options {
    opacity: 1;
    visibility: visible;
}






/* BANNER */
.container-banner{
    position: relative;

 }

 .container-banner img{
    display: block;
 }

 .container-banner button{
    position: absolute; 
    background-color: rgb(219, 96, 38);
    padding: 0.7rem 2rem;
    color: white;
    top: 75%;
    left: 7%;
    cursor: pointer;
    font-family: Bebas Neue;
    font-size: 2rem;
    border-radius: 2rem;
 }


/* VIDEO */
.container-video{
    display: flex;
    justify-content: space-between;
    padding: 6rem 4.4rem 5.5rem 4.4rem;
    margin-bottom: 2rem;
}

.container-video .content{
    width:40%;
    padding: 1rem 2rem;
    margin-left: 3rem;
}

.container-video h1{
    font-size: 5rem;
    font-weight: normal;
    margin: 2rem 0 1rem 0;
 }

.container-video p{
    font-size: 1.7rem;
    font-weight: normal;
    text-align: justify; 
    font-family: Open Sans;
}

.container-video iframe{
 border-radius: 2rem;
 width: 786px;
 height: 443px;
}

/* FOUNDER */
.container-founder{
    display: flex;
    max-height: 800px;
    justify-content: center;
    margin-bottom: 6rem;
}

.container-founder .content{
width: 40%;
margin-left: 6rem;
 }

.container-founder .content h1{
    font-size: 5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-weight: normal;
    }

    .container-founder .content p{
        font-family: Open sans;
        font-size: 1.6rem;
        text-align: justify;
        margin-bottom: 1.5rem;
        }

  .container-founder .content h2{
            margin-top: 5rem;
            font-weight: normal;
            font-size: 35px;
        }

        .container-founder .content h3{
            font-weight: lighter;
        }

.container-founder .image{
    width:550px;
    height: 800px;
    background: url(../imgs/foto-nath-sunfit.svg) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 2rem;
}


/* SLIDE SWIPER */
/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
    --primary: #ec994b;
    --white: #ffffff;
    --bg: #f5f5f5;
  }
*/

  /*
  html {
    font-size: 62.5%;
    font-family: "Open sans";
    scroll-behavior: smooth;
  }
*/


   /*ZOOM*/
  @media (min-width: 1440px) {
    #tranding {
      zoom: 1.5;
    }
  }
  
  @media (min-width: 2560px) {
    #tranding {
      zoom: 1.7;
    }
  }
  
  @media (min-width: 3860px) {
   #tranding {
      zoom: 2.5;
    }
  }
 

  ::-webkit-scrollbar {
    width: 1.3rem;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #797979;
    transition: all 0.5s ease-in-out;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #222224;
  }
  
  ::-webkit-scrollbar-track {
    background: #f9f9f9;
  }
  
  /*
  body {
    font-size: 1.6rem;
    background: var(--bg);
  }
*/

  .container-tranding {
    /*max-width: 124rem; */
    max-width: 150rem;
    padding: 0 1rem;
    margin: 0 auto;
    text-align: center;
  }

  .text-center {
    text-align: center;
  }

  .section-heading{
    font-size: 5rem;
    color: white;
    padding: 2rem 0 1rem 0;
    font-weight: normal;
  }
 .section-subheading{
    color: white;
    font-weight: lighter;
  }

  #tranding {
    padding: 4rem 0;
    background-color: darkorange;
  }

  @media (max-width:1440px) {
    #tranding {
      padding: 7rem 0;
    }
  }

  #tranding .tranding-slider {
    /*height: 52rem;*/
    padding: 2rem 0;
    position: relative;
  }

  @media (max-width:500px) {
    #tranding .tranding-slider {
      height: 45rem;
    }
  }

  .tranding-slide {
        /*
    width: 37rem;
    height: 42rem;
    */

    width: 70rem;
    height: 47rem;
    position: relative;
  }

  .tranding-slide .tranding-slide-img img {
    /*
    width: 37rem;
    height: 42rem;
    */

    width: 70rem;
    height: 47rem;
    border-radius: 2rem;
    object-fit: cover;
  }

  /* NOME DAS ATIVIDADES */
  .swiper-slide.tranding-slide h2{
    margin: 2rem 0;
    color: white;
    font-weight: normal;
  }

  @media (max-width:800px) {
    .tranding-slide {
      width: 28rem !important;
      height: 36rem !important;
    }
    .tranding-slide .tranding-slide-img img {
      width: 28rem !important;
      height: 36rem !important;
    }
  }
 
  




  /* CONTENT */
  /*
  .tranding-slide .tranding-slide-content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  
  .tranding-slide-content .food-price {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: var(--white);

  }
  
  .tranding-slide-content .tranding-slide-content-bottom {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    color: var(--white);
  }
  
  .food-rating {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
  }
  
  .rating ion-icon {
    color: var(--primary);
  }
  */


  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right {
    display: none;
  }
  
  .tranding-slider-control {
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* MODE */
    margin-top: 5rem ;
  }
  
  .tranding-slider-control .swiper-button-next {
    left: 58% !important;
    transform: translateX(-58%) !important;
  }
  
  @media (max-width:990px) {
    .tranding-slider-control .swiper-button-next {
      left: 70% !important;
      transform: translateX(-70%) !important;
    }
  }
  
  @media (max-width:450px) {
    .tranding-slider-control .swiper-button-next {
      left: 80% !important;
      transform: translateX(-80%) !important;
    }
  }
  
  @media (max-width:990px) {
    .tranding-slider-control .swiper-button-prev {
      left: 30% !important;
      transform: translateX(-30%) !important;
    }
  }
  
  @media (max-width:450px) {
    .tranding-slider-control .swiper-button-prev {
      left: 20% !important;
      transform: translateX(-20%) !important;
    }
  }
  
  .tranding-slider-control .slider-arrow {
    background: var(--white);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }
  
  .tranding-slider-control .slider-arrow ion-icon {
    font-size: 2rem;
    color: #222224;
  }
  
  .tranding-slider-control .slider-arrow::after {
    content: '';
  }
  
  .tranding-slider-control .swiper-pagination {
    position: relative;
    width: 15rem;
    bottom: 1rem;
  }
  
  .tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }
  
  .tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
    background: var(--primary);
  }


/* SCHEDULE */
/*
.container-schedule{
    background-color:rgb(219, 96, 38) ;
    height: 900px;
    
}

.container-schedule h1{
    font-size: 5rem;
    text-align: center;
    color: white;
    font-weight: normal;
    padding: 6rem 0 3rem 0;
  
}

.container-schedule .arrow{
    width:50px;
    height: 50px;
}

.container-schedule .schedule{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.container-schedule .carrossel{
    width: 800px; 
    height: 500px;
    background: url(../imgs/activities/yoga.jpg) no-repeat center center/cover;
    border-radius: 2rem;
    margin: 0 3rem;
}

.container-schedule .activity h2{
    text-align: center;
    font-size: 3rem;
    color: white;
    font-weight: normal;
    margin: 2rem 0 3rem 0;
     
}
*/


/* TICKETS */
.container-ticket{
    background-color: white;
    height: 800px;
    margin: 1rem 0 5rem 0;
}

.container-ticket h1{
    margin: 7rem 0 2rem 0;
    font-weight: normal;
    text-align: center;
    font-size: 5rem;
}

.container-ticket .tickets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.container-ticket .ticket{
    background-color: rgb(221, 219, 219);
    width: 65%;
    height: 11rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.container-ticket .ticket .price{
    padding-left: 15rem;
}

.container-ticket .ticket a{
    background-color: rgb(62, 157, 212);
    color: white;
    padding: 0.3rem 5rem; 
    border-radius: 2.5rem;
}



/* PARTNERS */
.container-partners{
    width: auto;
    margin: 4rem 0;
    
}

.container-partners h1{
    text-align: center;
    font-size: 5rem;
    font-weight: normal;
    margin: 6rem 0 2rem 0;
}

.container-partners .partners{
    display: flex;
    justify-content: space-around;
    
     }

.container-partners .partners img{
    max-width: 400px;
    height: auto;
    margin: 1rem 2rem;
}

/* BUSINESS */
.container-business{
    background-color: rgb(21, 98, 161);
    height: 800px;
    display: flex;
    color:white;

}

.container-business .banner{
    width:50%;
    height: 100%;
    background-color: beige;
    background-size: cover;
    background-image: url(../imgs/sunfit-must.jpg);
    background-position: center;
}

.container-business .content{
    display: flex;
    flex-direction: column;
    padding: 0 7rem;
    width: 50%;
}

.container-business .content h1{
    font-size: 4rem;
    font-weight: normal;
    margin: 6rem 0 1rem 0;
    text-align: center;
}

.container-business .content p{
    font-family: Open Sans;
    text-align: justify;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 1rem 0;
}

.container-business .content button{
    background-color: rgb(240, 119, 6);
    color: white;
    font-family: Bebas Neue;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    font-size: 2rem;
    border-radius: 2rem;
    width:60%;
    align-self: center;
 }

/* FAQ */
.container-faq{
    height: 800px;
    text-align: center;
    width: 100%;
    
}

.container-faq h1{
    font-size: 4rem;
    font-weight: normal;
    margin: 6rem 0 3rem 0;
}

.container-faq .categories{
width: 60%;
height: auto;
margin: 0 auto;
}

.container-faq .category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-bottom: 1px solid #0000004b;
    margin-top: 1rem;
 
}

.container-faq .category .pergunta{
    font-size: 2.7rem;
    font-weight: normal;
    width: 100%;
    text-align: start;
    margin-bottom: 1rem;
}

 
.container-faq .category .resposta{
    display: none;
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: 300;
    }
 
/* PERGUNTA ATIVA */
.container-faq .category.ativo .resposta{
    display: block;
    font-family: Open sans;
    font-size: 18px;
    font-weight: normal;


}

.container-faq .category.ativo {
    padding: 0.2rem 0 1rem 0;
}



/*
.container-faq .star{
    width: 30px;
    height: 30px;
    background-color: black;
    clip-path: polygon(50% 0%, 60% 40%, 100% 50%, 60% 60%, 50% 100%, 40% 60%, 0% 50%, 40% 40%);
    margin-right: 10px;
}
*/

/* FOOTER */
#divisor{
    background-color: black;
    width: 80%;
    height: 1px;
    margin: 0 auto;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 3rem;
}

footer p{
    padding: 2rem 1rem;
}
