/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    padding: 0.5rem;
}

header img{
    width: 14%;
    height: auto;
}

header #menu{
    display: flex;

}

header #menu li{
    padding: 2rem 1rem;
}


/* BANNER */
.container-banner{
    position: relative;

 }

 .container-banner img{
    display: block;
 }

 .container-banner button{
    position: absolute; 
    background-color: rgb(219, 96, 38);
    padding: 0.7rem 2rem;
    color: white;
    top: 75%;
    left: 7%;
    cursor: pointer;
    font-family: Bebas Neue;
    font-size: 2rem;
    border-radius: 2rem;
 }


/* VIDEO */
.container-video{
    display: flex;
    justify-content: space-between;
    padding: 6rem 4.4rem 5.5rem 4.4rem;
    margin-bottom: 9rem;
}

.container-video .content{
    width:40%;
    padding: 1rem 2rem;
    margin-left: 3rem;
}

.container-video h1{
    font-size: 4rem;
    font-weight: normal;
    margin: 0 0 1rem 0;
}

.container-video p{
    font-size: 1.7rem;
    font-weight: normal;
    text-align: justify; 
}

.container-video iframe{
 border-radius: 2rem;
 width: 786px;
 height: 443px;
}

/* FOUNDER */
.container-founder{
    display: flex;

    max-height: 800px;
}

/* SCHEDULE */


/* TICKETS */


/* PARTNERS */
.container-partners{
    display: flex;
}

/* BUSINESS */


/* FAQ */


/* FOOTER */
#divisor{
    background-color: black;
    width: 80%;
    height: 1px;
    margin: 0 auto;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

footer p{
    padding: 2rem 1rem;
}
